<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HRManagement.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=199.212.26.208:1521/SQLD;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=COMP214_F19_ERS_25" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Entities" connectionString="metadata=res://*/EmployeeModel.csdl|res://*/EmployeeModel.ssdl|res://*/EmployeeModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=199.212.26.208:1521/SQLD;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=COMP214_F19_ERS_25&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
<!-- HOME CONNECTION -->
<!-- connectionString="DATA SOURCE=oracle1.centennialcollege.ca:1521/SQLD;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=COMP214_F19_ERS_25" -->