<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRManagement.Properties.Settings.ConnectionString"
             connectionString="DATA SOURCE=199.212.26.208:1521/SQLD;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=COMP214_F19_ERS_25"
        providerName="Oracle.ManagedDataAccess.Client" />
      </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>


<!-- HOME CONNECTION -->
<!-- connectionString="DATA SOURCE=oracle1.centennialcollege.ca:1521/SQLD;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=COMP214_F19_ERS_25" -->